.Informationen {
    margin-top: 60px;
    margin-bottom: 40px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    text-align: justify;
}

.contact-info {
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}


.contact-info h2 {
    margin-top: 0;
    color: #495ca8;
}

h3 {
    color: #495ca8;
}
h4 {
    color: #495ca8;
}
.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li strong {
    font-weight: bold;
    color: #495ca8;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

.image {
    flex: 1;
    padding: 20px;
}



.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .contact-info, .image {
        flex: 1;
    }
}
    
