body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.Account {
  position: relative;
  right: 10px;
  width: 150px;
  height: 80%;

  background-color: var(--backgroundlight-color);
  color: var(--textdark-color);
  border-radius: 0.5rem;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


}

.circle {
  /*Ist für den Grünen Punkt beim Account Name Zuständig, in hmtl unter <span class ="circle">
  Möglichkeit noch dazu, die Verbindung zum Server über Grün und Rot als Offline darzustellen*/
  height: 10px;
  width: 10px;
  background-color: #29c934;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.trashicon {
  cursor: pointer;
  position: relative;
  height: 100%;
  scale: 1;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.trashicon2 {
  cursor: pointer;
  position: relative;
  height: 80%;
  scale: 1;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.trashicon:hover,
.trashicon2:hover {
  background-color: red;
  scale: 1.1;
}

hr {
  margin: 5px;
}

.content {
  /*Inhalt der Seite*/
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  height: calc(100% - 75px);
  min-height: calc(100% - 75px);
  margin-top: 50px;
  background-color: var(--backgrounddark-color);
  padding-top: 25px;
}

.listSelection {
  /*Auswahl der Listenbereich
  linker Teil*/
  display: flex;
  position: relative;
  height: 100%;
  width: 30%;
  background-color: var(--backgrounddark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 0 10px;
  overflow: hidden;
}

.createListButton {
  cursor: pointer;
  position: relative;
  width: 80%;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009B7D;
  color: white;
}

.listContainer {
  /*Auswahl der To do Listen*/
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  width: 100%;
  /*display: block;*/
  display: flex;
  flex-direction: column;
  border-spacing: 0.5rem;
  margin-top: 25px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.listContainer:hover {
  overflow-y: scroll
}

.listContainer::-webkit-scrollbar {
  display: none;
}

.List {
  /*Das ist In der Auflistung der Listen eine einzelne Liste*/
  cursor: pointer;
  position: relative;
  height: 60px;
  min-height: 60px;
  width: 100%;

  padding: 5px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  box-sizing: border-box;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  background-color: var(--backgroundlight-color);
  color: var(--textdark-color);
}

.listedListname {
  /*ist die Klasse des Namen der Todoliste in der Auflistung, zu finden in dashboard.js*/
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--textdark-color);
}

.Tasklist {
  /*Darstellung der kompletten Tasklist mit Einstellungen
  rechter Teil*/
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 70%;
  margin: 0 10px 0 10px;
  background-color: var(--backgroundlight-color);
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.Tasklist::-webkit-scrollbar {
  display: none;
}

#listName {
  /*Name der ausgewählten Liste*/
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  overflow: hidden;

  color: var(--textlight-color);
  background-color: #658997;
  box-sizing: border-box;

  border-bottom: 5px solid var(--backgrounddark-color);
  ;
}

.optionRow {
  /*Optionbar für die ausgewählte Liste*/
  display: none;
  height: 40px;
  width: 100%;
  background-color: #658997;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.addTaskButton,
.userMenu {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 30px;
  background-color: #009B7D;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.createListButton:hover,
.addTaskButton:hover,
.userMenu:hover {
  background-color: #29c934;
}

.TasklistContent {
  /* Das ist die Aufgabenliste der ausgewälten Liste*/
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: #658997;
}

.Task {
  /* Das ist ein einzelner Task in der Darstellung*/
  position: relative;
  height: 40px;
  min-height: 40px;
  width: calc(100% - 10px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 5px 0 5px;
}

.Task:nth-child(even) {
  /*background-color: var(--yellow-color);*/
  background-color: #0a2c258a;
  color: white;
  margin: 5px;
}

.Task:nth-child(odd) {
  /*background-color: var(--green-color);*/
  background-color: #153f3770;
  color: white;
  margin: 5px;
}

.taskname {
  width: calc(75% - 50px);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;

}

.edateout {
  width: 50px;
  color: red;
}

.checkbox:checked+.taskname {
  /*Ändern der Textform bei abgeschlossener Aufgabe*/
  text-decoration: line-through;
  color: grey;
}

.List:hover,
.Task:hover {
  background-color: rgb(96, 169, 208);
}

.checkbox {
  cursor: pointer;
  height: 30px;
  width: 30px;
  min-width: 30px;

}

a:link {
  /* Entfernt die Formatierung auf Texten ausgelöst durch href*/
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
    box-sizing: content-box;
    overflow-y: visible;
    height: 150%;
    min-height: 150%;
  }

  .listselection {
    width: calc(100% - 10px);
    height: auto;
    overflow-y: visible;
    margin-right: 5px;
    margin-left: 5px;
  }

  .listContainer {
    min-height: max-content;
    box-sizing: content-box;
    overflow-y: visible;
  }

  .Tasklist {
    width: calc(100% - 10px);
    margin: 25px 5px 25px 5px;
    height: auto;
    box-sizing: content-box;
    overflow-y: visible;
  }

  .TasklistContent {
    height: auto;
    box-sizing: content-box;
    overflow-y: visible;
  }
}