button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-1 {
    font-size: 30px;
    text-align: center;
    animation: appear-title-1 2.5s ease;
}

.title-2 {
    font-size: 50px;
    text-align: center;
    animation: appear-title-2 2s ease;
}

.title-3 {
    font-size: 30px;
    text-align: center;
    animation: appear-title-3 3s ease;
}


@keyframes appear-title-1 {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes appear-title-2 {
    0% {
        transform: translateY(-2000px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes appear-title-3 {
    0% {
        transform: translateX(2000px);
    }
    100% {
        transform: translateY(0);
    }
}

.login-button {
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background: rgb(120, 120, 120);
    box-shadow: 0 5px 10px rgb(0,0,0);
    transition: 0.3s;
    animation: appear-login-button 3s ease;
}
  
.login-button:hover {
    background-color: #0d941d;
    scale: 1.05;
}

@keyframes appear-login-button {
    0% {
        transform: translateY(2000px);
    }
    100% {
        transform: translateY(0);
    }
}