

body {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

header{
  height: 10%;
  display: flex;
  justify-content : space-between;
  
}

.Account{
  position:relative;
  right:10px;
  width: 150px;
  height:80%;

  background-color: var(--backgrounddark-color);
  color: var(--textlight-color);
  border-radius: 0.5rem;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


}
.circle{ /*Ist für den Grünen Punkt beim Account Name Zuständig, in hmtl unter <span class ="circle">
  Möglichkeit noch dazu, die Verbindung zum Server über Grün und Rot als Offline darzustellen*/
  height: 10px;
  width: 10px;
  background-color: #29c934;
  border-radius: 50%;
  display: inline-block;
}

.Logo {
  height: 70%;
  scale: 1;
}
.trashicon{
  cursor:pointer;
  position:relative;
  height:70%;
  scale:1;
  padding: 10px;
  border-radius:50%;
  cursor: pointer;
}
.trashicon2{
  cursor:pointer;
  position:relative;
  height: 45%;
  scale:1;
  padding: 10px;
  border-radius:50%;
  cursor: pointer;
}
.trashicon:hover, .trashicon2:hover{
  background-color: red;
  scale:1.1;
}

hr{
  margin: 5px;
}

.content{
  display: flex;
  flex-direction: row;
  height: 90%;
}

.listselection {/*Auswahl der Listenbereich
  linker Teil*/
  position: relative;
  height: 100%;
  width: 30%;
  background-color: var(--backgroundlight-color);
}

.Tasklist {/*Darstellung der kompletten Tasklist mit Einstellungen
  rechter Teil*/
  position: relative;
  height: 100%;
  width: 70%;
  background-color: var(--backgroundlight-color);
  box-sizing: border-box;
  border: 3px solid black;
  overflow-y: scroll;
}

.Tasklisthead {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;

  color:var(--textdark-color);
  background-color: var(--backgroundlight-color);
  box-sizing: border-box;
  border-bottom: 2px solid black; 
}

.groupTasks, .personalTasks {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 80%;
  width: 80%;
  left: 5%;
  display: block;
  border: 0.3rem solid red;
  border-spacing: 0.5rem;
  margin-top: 10%;
}

.List {/*Das ist In der Auflistung der Listen eine einzelne Liste*/
  cursor:pointer;
  position: relative;
  height:60px;
  width: 100%;

  padding: 5px;

  display:flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  box-sizing: border-box;
  border-bottom: 2px solid black;
  box-shadow: 1px 2px 5px blueviolet;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.listedlistname{
  width:70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--textdark-color);
}
.Addbuttontasklist{
  cursor:pointer;
  position: relative;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 20px;
  border-radius:25px;
}

.Addbuttontask{
  cursor:pointer;
  position: relative;
  width: 100px;
  height: 20px;
}


.Addbuttontasklist:hover, .Addbuttontask:hover{
  background-color: #29c934;

}

.Tasklistcontent{/* Das ist die Aufgabenliste der ausgewälten Liste*/
  position: relative;
  height: calc(100%-30px);
  width: 100%;

  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.Task{/* Das ist ein einzelner Task in der Darstellung*/
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content : space-between;
  overflow:hidden;
}

.Task:nth-child(even){
  background-color: var(--yellow-color); 
}

.Task:nth-child(odd){
  background-color: var(--green-color);
}

.taskname{/* Name kommt einmal als Label als auch als Klasse vor!!!!!!!!*/
  width:85%;
  overflow-x:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  
}

.checkbox:checked + .taskname{
  text-decoration: line-through;
  color: red;
}

.List:hover, .Task:hover{
  background-color: rgb(96, 169, 208);
  border: 4px solid black; 

}

.checkbox{
  cursor:pointer;
  height:30px;
  width: 30px;
  min-width: 30px;
  
}

.Taskoption{
  height: 40px;
  width: 100%;
  background-color: var(--backgrounddark-color);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: none;
}

#addTaskForm, #addUserToListPopUp {
  display: flex;
  flex-direction: column;
}

#addTaskPopUp, #addListPopUp, #addUserToListPopUp {
  display: none;
  position: absolute;
  height: 40%;
  width: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 25px;
  background-color: red;
}

#listSpeichern{
  cursor:pointer;
}

a:link {/* Entfernt die Formatierung auf Texten ausgelöst durch href*/
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#listSpeichern, #listabbrechen,#taskSpeichern,#taskabbrechen, #edate, #sdate{
  cursor:pointer;
}