body {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

header{
  height: 10%;
  display: flex;
  justify-content : space-between;
  
}

.Account{
  position:relative;
  right:10px;
  width: 150px;
  height:80%;

  background-color: #8689cd;
  border-radius: 0.5rem;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


}
.circle{ /*Ist für den Grünen Punkt beim Account Name Zuständig, in hmtl unter <span class ="circle">
  Möglichkeit noch dazu, die Verbindung zum Server über Grün und Rot als Offline darzustellen*/
  height: 10px;
  width: 10px;
  background-color: #29c934;
  border-radius: 50%;
  display: inline-block;
}

.Logo {
  height: 70%;
  scale: 1;
}
.trashicon{
  position:relative;
  height:70%;
  scale:1;
  padding: 10px;
  border-radius:50%;
}
.trashicon:hover{
  background-color: red;
  scale:1.1;
}

hr{
  margin: 5px;
}

.content{
  display: flex;
  flex-direction: row;
  height: 90%;
}

.Taskselection {
  position: relative;
  height: 100%;
  width: 210px;
  background-color: #8689cd;
}

.Tasklist {
  position: relative;
  height: 100%;
  width: 750px;
  background-color: #5aba75;
}

.Tasklisthead {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  background-color: #8689cd;
  
}




.groupTasks, .personalTasks {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40%;
  width: 80%;
  left: 5%;
  display: block;
  border: 0.3rem solid red;
  border-spacing: 0.5rem;
  margin-top: 10%;
}

.List {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Addbuttontasklist{
  position: relative;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 20px;
  border-radius:25px;
}

.Addbuttontask{
  position: relative;
  width: 100px;
  height: 20px;
}


.Addbuttontasklist:hover, .Addbuttontask:hover{
  background-color: #29c934;

}

.List:active{
  background-color: rgb(113, 96, 208);
  /* Dieser Bereich für die Javascript Funktion bei Auswahl einer Lister, dass deren Tasks geladen werden*/
}

.Tasklistcontent{
  position: relative;
  height: calc(100%-30px);
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.Task{
  position: relative;
  height: 40px;
  width: 100%;
  background-color: rgb(255, 206, 71); 
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Task:nth-child(even){
  background-color: rgb(83, 240, 35);
}

.List:hover, .Task:hover{
  background-color: rgb(96, 169, 208);
  /*border: 4px black; //Wäre nice wenn das klappt*/

}

.checkbox{
  height:30px;
  width: 30px;
  
}

.Taskoption{
  height: 40px;
  background-color: rgb(66, 64, 60);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#addTaskPopUp, #addListPopUp {
  display: none;
  position: absolute;
  height: 80%;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 25px;
  background-color: red;
}

#addTaskForm {
  display: flex;
  flex-direction: column;
}