body {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

header{
  height: 10%;
}

hr{
  margin: 5px;
}

.content{
  display: flex;
  flex-direction: row;
  height: 90%;
}

.Taskselection {
  position: relative;
  height: 100%;
  width: 210px;
  background-color: #8689cd;
}

.Tasklist {
  position: relative;
  height: 100%;
  width: 750px;
  background-color: #5aba75;
}

.Tasklisthead {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  background-color: #8689cd;
  
}

.Tasklistcontent{
  position: relative;
  height: calc(100%-30px);
  width: 100%;

}


.groupTasks, .personalTasks {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40%;
  width: 80%;
  left: 5%;
  display: block;
  border: 0.3rem solid red;
  border-spacing: 0.5rem;
  margin-top: 10%;
}

.List {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.List:active{
  background-color: rgb(113, 96, 208);
  /* Dieser Bereich für die Javascript Funktion bei Auswahl einer Lister, dass deren Tasks geladen werden*/
}

.Task{
  height: 40px;
  background-color: red;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.List:hover, .Task:hover{
  background-color: rgb(96, 169, 208);
  /*border: 4px black; //Wäre nice wenn das klappt*/

}

.checkbox{
  height:30px;
  width: 30px;
  
}